<section>
    <div class="cards">
        <div class="card">
            <h5>Total number of Students placed</h5>
            <h2>3,91,652</h2>
        </div>
        <div class="card">
            <h5>Last year placed Students</h5>
            <h2>22,452</h2>
        </div>
        <div class="card">
            <h5>Total Students placed with Non-IT Degree</h5>
            <h2>1,21,345</h2>
        </div>


    </div>
</section>


<h4 class="placedstud">All Placed Students</h4>

<section class="main">

    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/img_2.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Sanket Thorat</h2>
            <span>Dot Net Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>ITC Infotech</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">12.50 LPA</span>
            </div>
            <div class="info">
                <!-- <h3>Role :</h3>
                    <span>Dot Net Developer</span> -->
            </div>
        </div>

    </div>
    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/img_4.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Mangesh Khose</h2>
            <span>Dot Net Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>IT MNC</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">12.00 LPA</span>
            </div>
            <div class="info">
                <!-- <h3>Role :</h3>
                    <span>Dot Net Developer</span> -->
            </div>
        </div>

    </div>

    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/img_7.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Gaurav Bhesar</h2>
            <span>Full Stack Java Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>Cybermate Software</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">4.50 LPA</span>
            </div>
            <!-- <div class="info">
                <h3>Role :</h3>
                <span>MERN Stack Developer</span>
            </div> -->
        </div>

    </div>

    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/img_6.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Gaurav Kaikade</h2>
            <span>Associate integration Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>Neeyamo Works</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">3.25 LPA</span>
            </div>
            <!-- <div class="info">
                <h3>Role :</h3>
                <span>MERN Stack Developer</span>
            </div> -->
        </div>

    </div>
</section>
<section class="main">

    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/img_5.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Ashwagndha Shelake</h2>
            <span>Dot Net Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>Accelon Technologies</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">2.50 LPA</span>
            </div>
            <div class="info">
                <!-- <h3>Role :</h3>
                <span>Dot Net Developer</span> -->
            </div>
        </div>

    </div>
    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/img_9.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Ankit Rokde</h2>
            <span>Full Stack Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>Cortica Web Solutions</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">2.00 LPA</span>
            </div>
            <div class="info">
                <!-- <h3>Role :</h3>
                <span>Dot Net Developer</span> -->
            </div>
        </div>

    </div>

    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/img_3.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Abhishekh Yadav</h2>
            <span>MERN Stack Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>Technologia</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">2.40 LPA</span>
            </div>
            <div class="info">
                <!-- <h3>Role :</h3>
                <span>MERN Stack Developer</span> -->
            </div>
        </div>

    </div>

    <div class="profile-card">
        <div class="image">
            <img src="../../assets/review/kishori.jpg" alt="" class="profile-pic">
        </div>
        <div class="data">
            <h2>Kishori Pawar</h2>
            <span>Frontend Developer</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Company :</h3>
                <span>The Research Analyst</span>
            </div>
            <div class="info">
                <h3>Package :</h3>
                <span style="color: orange; font-weight: 600;">3 LPA</span>
            </div>
            <div class="info">
                <h3>Role :</h3>
                <span>MERN Stack Developer</span>
            </div>
        </div>

    </div>
</section>