<section id="our-recruitment-partner">
    <div class="our-recruitment-partner-box">
        <div class="our-recruitment-partner-main-box">
            <h2 class="our-recruitment-partner-title">
                Our Recruitment Partner
            </h2>
            <div class="line"></div>
        </div>
        <div class="app">
            <div class="tag-list">
                <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
                    <div class="inner">
                        <div class="tag" *ngFor="let item of count">
                            <img src="{{item}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>