<div class="container">
    <div class="text-section">
        <h1>Skills are the <span class="highlight">catalyst</span> <br> to your <span class="highlight">career
                growth</span>
        </h1>
        <p>Assess your skills and stand out to recruiters</p>
        <button class="cta-button">Explore Free Test</button>
    </div>
    <div class="image-section">
        <img src="../../assets/svg icons/exam_jobportal.svg" alt="Career Growth Illustration">
    </div>
</div>
<app-placed-students></app-placed-students>