<div class="container">
    <div class="text-section">
        <h1>Skills are the <span class="highlight">catalyst</span> <br> to your <span class="highlight">career
                growth</span>
        </h1>
        <p>Take a free demo test, evaluate your skills <br> and accelerate your career growth..!</p>
        <a href="https://techreal.site/#/login" class="cta-button">Explore Free Test</a>
    </div>
    <div class="image-section">
        <img src="../../assets/img/codifyformatter-_10_.jpeg.jpg" alt="Career Growth Illustration">
    </div>
</div>
<app-placed-students></app-placed-students>