<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4 m-0 footermain">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <img class="footerimg" src="../../assets/logo/logo 2 transparent .png" alt="">
        </a>
        <div class="col-lg-2 col-md-3 mt-4 social-links d-flex">
          <ul class="social-linksa">
            <!-- <a href=""><i class="bi bi-whatsapp"></i></a><br> -->
            <a href="https://www.facebook.com/sk.bit.software/"><i class="bi bi-facebook"></i></a><br>
            <a href="https://www.instagram.com/sk_bit_official/"><i class="bi bi-instagram"></i></a><br>
            <a href="https://in.linkedin.com/company/sk-bit"><i class="bi bi-linkedin"></i></a>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 footer-links">
        <h4>Contact Info</h4>
        <ul>
          <li href="mailto:info@techrel.in"><strong>Email : </strong>info@techrel.in</li>
          <li (click)="makeCall()"><strong>Contact : </strong>+91 {{phoneNumber}}</li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Top Courses</h4>
        <ul>
          <li><a routerLink="courses/java">Java Full Stack</a></li>
          <li><a routerLink="courses/mern">MERN Stack</a></li>
          <li><a routerLink="courses/testing">Software Testing</a></li>
          <li><a routerLink="courses/dotnet">Dot Net Full stack</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Terms of service</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>©<strong class="px-1 sitename">2016 TechRel IT Training Institute Pvt. Ltd.</strong>
      <span>All
        Rights Reserved</span>
    </p>
  </div>

</footer>