<!-- Feature Start -->
<section class="feature-box">
  <div class="container-fluid feature bg-light py-3">
    <div class="container py-3">
      <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s">
        <h4 class="about-meta">Our Features</h4>
        <h1 class="featureheadline">Skills That Set You Apart, Training That Gets You Hired !</h1>
        <p class="featuretagline">At TechRel, we equip you with industry-relevant skills through expert-led training and
          hands-on
          projects<br> With 100% placement assistance, we help you connect with top IT companies and land your dream
          job.
        </p>
      </div>
      <div class="row g-4 feature-card">
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
          <div class="feature-item p-4 pt-0">
            <div class="feature-icon p-4 mb-4">
              <i class="far fa-handshake fa-3x"></i>
            </div>
            <h4 class="mb-4">Guaranteed Placement Assistance</h4>
            <p class="mb-4">💼 100% placement support with top IT companies. Resume building & interview preparation.
              Regular job drives & company tie-ups.
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
          <div class="feature-item p-4 pt-0">
            <div class="feature-icon p-4 mb-4">
              <i class="fa fa-laptop-code fa-3x"></i>
            </div>
            <h4 class="mb-4">Industry-Focused Training</h4>
            <p class="mb-4">👨‍🏫 Expert-led courses with real-world case studies. Hands-on learning with the latest IT
              tools & Skill development.
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
          <div class="feature-item p-4 pt-0">
            <div class="feature-icon p-4 mb-4">
              <i class="fa fa-users-cog fa-3x"></i>
            </div>
            <h4 class="mb-4">Live Projects & Internships</h4>
            <p class="mb-4">🖥 Work on real-time projects to gain practical experience Internship opportunities for
              hands-on learning. Get industry exposure before a job.
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
          <div class="feature-item p-4 pt-0">
            <div class="feature-icon p-4 mb-4">
              <i class="fa fa-award fa-3x"></i>
            </div>
            <h4 class="mb-4">Certification & Career Growth</h4>
            <p class="mb-4">✅ Industry-recognized certifications to boost credibility. Career mentorship & skill
              enhancement programs.
            </p>
            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature End -->