<!-- About Section -->
<section id="about" class="about section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 align-items-center justify-content-between">
      <!-- <div class="col-xl-6" data-aos="fade-left" data-aos-delay="300">
        <div class="image-wrapper">
          <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
            <img src="../assets/img/about.jpg" alt="Business Meeting" class="img-fluid main-image rounded-4"
              style="filter: brightness(0.8);">
            <img src="../assets/img/about2.jpg" alt="Team Discussion" class="img-fluid small-image rounded-4">
          </div>
          <div class="experience-badge floating">
            <h3>15+ <span>Years</span></h3>
            <p>Of experience in IT services</p>
          </div>
        </div>
      </div> -->
      <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
        <div class="bg-light rounded p-5 h-100">
          <div class="row g-4 justify-content-center">
            <div class="col-12">
              <div class="image-wrapper">
                <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
                  <img src="../assets/img/about.jpg" alt="Business Meeting" class="img-fluid main-image rounded-4"
                    style="filter: brightness(0.8);">
                  <!-- <img src="../assets/img/about2.jpg" alt="Team Discussion" class="img-fluid small-image rounded-4"> -->
                </div>
                <div class="experience-badge floating">
                  <h3>18+ <span>Years</span></h3>
                  <p>Of experience in IT Institute</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{trainedCount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Trained Students</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{clientCount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Clients</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{placedcount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Placed Students</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{learningcount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Learning</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-5 bg-light rounded p-5 h-100" data-aos="fade-right" data-aos-delay="200" style="width: 48%;">
        <span class="about-meta">About Us</span>
        <h2 class="about-title">Your Pathway to a <br> Successful IT Career !</h2>
        <p class="about-description">TechRel is a premier IT training institute dedicated to bridging the gap between
          learning and employment.
          We offer industry-focused courses, hands-on training, live projects, and internships to provide real-world
          experience.With 100% placement assistance, we connect students with top IT companies, ensuring career
          success.
          At
          TechRel, we believe in learning by doing, empowering students with the skills and confidence to thrive in
          the IT industry.
          Join us and kickstart your IT career..!</p>

        <div class="row feature-list-wrapper">
          <div class="">
            <ul class="feature-list">
              <li><i class="bi bi-check-circle-fill"></i>100% Placement Assistance for a Bright
                Career</li>
              <li><i class="bi bi-check-circle-fill"></i>Upgrade Your IT Skills with Experts</li>
              <li><i class="bi bi-check-circle-fill"></i>Hands-on Training with Live Projects</li>
              <li><i class="bi bi-check-circle-fill"></i>Hands-on Training with Live Projects</li>

            </ul>
          </div>
          <!-- <div class="col-md-6">
            <ul class="feature-list">
              <li><i class="bi bi-check-circle-fill"></i>Secure and high-performing</li>
              <li><i class="bi bi-check-circle-fill"></i>Trust and Quality</li>
              <li><i class="bi bi-check-circle-fill"></i>Mutual growth</li>
            </ul>
          </div> -->
        </div>

        <div class="info-wrapper">
          <div class="row gy-4">
            <div class="col-lg-5">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
<!-- About Start -->
<!-- <div class="container-fluid bg-light about pb-5">
  <div class="container pb-5">
    <div class="row g-5">
      <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
        <div class="about-item-content bg-white rounded p-5 h-100">
          <h4 class="accent-text">About Us</h4>
          <h1 class="display-4 mb-4">Your Pathway to a Successful IT Career!</h1>
          <p>TechRel is a premier IT training institute dedicated to bridging the gap between learning and employment.
            We offer industry-focused courses, hands-on training, live projects, and internships to provide real-world
            experience.

            With 100% placement assistance, we connect students with top IT companies, ensuring career success. At
            TechRel, we believe in learning by doing, empowering students with the skills and confidence to thrive in
            the IT industry.

            🚀 Join us and kickstart your IT career!
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium recusandae eligendi modi hic
          </p>
          <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Upgrade Your IT Skills with Experts</p>
          <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Hands-on Training with Live Projects</p>
          <p class="text-dark mb-4"><i class="fa fa-check text-primary me-3"></i>100% Placement Assistance for a Bright
            Career</p>
          <a class="btn btn-primary rounded-pill py-3 px-5" href="#">More Information</a>
        </div>
      </div>
      <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
        <div class="bg-white rounded p-5 h-100">
          <div class="row g-4 justify-content-center">
            <div class="col-12">
              <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
                <div class="image-wrapper">
                  <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
                    <img src="../assets/img/about.jpg" alt="Business Meeting" class="img-fluid main-image rounded-4"
                      style="filter: brightness(0.8);">
                    <img src="../assets/img/about2.jpg" alt="Team Discussion" class="img-fluid small-image rounded-4">
                  </div>
                  <div class="experience-badge floating">
                    <h3>15+ <span>Years</span></h3>
                    <p>Of experience in IT services</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-light rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">20000</span>
                  <span class="h1 fw-bold text-primary">+</span>
                </div>
                <h4 class="mb-0 text-dark">Trained Students</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-light rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">600</span>
                  <span class="h1 fw-bold text-primary">+</span>
                </div>
                <h4 class="mb-0 text-dark">Clients</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-light rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">8000</span>
                  <span class="h1 fw-bold text-primary">+</span>
                </div>
                <h4 class="mb-0 text-dark">Placed Students</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-light rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">30000</span>
                  <span class="h1 fw-bold text-primary">+</span>
                </div>
                <h4 class="mb-0 text-dark">Learning</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- About End -->



<!-- <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
  <div class="bg-white rounded p-5 h-100">
    <div class="row g-4 justify-content-center">
      <div class="col-12">
        <div class="rounded bg-light">
          <img src="./assets/img/javademo.jpeg" class="img-fluid rounded w-100" alt="">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="counter-item bg-light rounded p-3 h-100">
          <div class="counter-counting">
            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">20000</span>
            <span class="h1 fw-bold text-primary">+</span>
          </div>
          <h4 class="mb-0 text-dark">Trained Students</h4>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="counter-item bg-light rounded p-3 h-100">
          <div class="counter-counting">
            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">600</span>
            <span class="h1 fw-bold text-primary">+</span>
          </div>
          <h4 class="mb-0 text-dark">Clients</h4>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="counter-item bg-light rounded p-3 h-100">
          <div class="counter-counting">
            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">8000</span>
            <span class="h1 fw-bold text-primary">+</span>
          </div>
          <h4 class="mb-0 text-dark">Placed Students</h4>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="counter-item bg-light rounded p-3 h-100">
          <div class="counter-counting">
            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">30000</span>
            <span class="h1 fw-bold text-primary">+</span>
          </div>
          <h4 class="mb-0 text-dark">Learning</h4>
        </div>
      </div>
    </div>
  </div>
</div> -->