<!-- About Section -->
<section id="about" class="about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 align-items-center justify-content-between">
      <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
        <div class="bg-light rounded p-5 h-100">
          <div class="row g-4 justify-content-center">
            <div class="col-12">
              <div class="image-wrapper">
                <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
                  <img src="../assets/img/about.jpg" alt="Business Meeting" class="img-fluid main-image rounded-4"
                    style="filter: brightness(0.8);margin-top: -30px;">
                </div>
                <div class="experience-badge floating">
                  <h3>18+ <span>Years</span></h3>
                  <p>Of experience in IT Institute</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{trainedCount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Trained Students</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{clientCount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Clients</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{placedcount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Placed Students</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="counter-item bg-white rounded p-3 h-100">
                <div class="counter-counting">
                  <span class="about-meta fs-2 fw-bold" data-toggle="counter-up">{{learningcount}}</span>
                  <span class="h1 fw-bold about-meta">+</span>
                </div>
                <h4 class="mb-0 text-dark">Learning</h4>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="profile-card" class="bg-light rounded" data-aos="fade-right" data-aos-delay="200">
        <div class="image">
          <img src="../../assets/img/about-img.jpg" alt="user image">
        </div>
        <div class="text-data">
          <h4 class="name"><b>Mahesh Athalye</b></h4>
        </div>
        <div class="profile-card-content">
          <p class=""> <b>Mahesh Athalye</b> Is a business leader with expertise in Client Success, IT services Sales
            and delivery,
            building products
            and platform solutions for fortune 500 Hi-Tech, Retail, Financial Services, Hospitality, and Logistics
            clients. Mahesh
            started his career as an entrepreneur and joined the corporate world as an SAP consultant and project
            manager in the
            USA. He has partnered with clients in implementing ERP systems, build applications on the cloud to
            modernize their FS
            application, Retail stores with AI/ML and IT solutions.
            <br>
            Mahesh joined TechRel Technologies as board advisor and will provide strategic guidance to board members,
            offering
            industry-specific insights, Latest technology trends and business growth strategy.
            <br>
            Previously at <b>Jade Global</b> Mahesh worked as Head of Client Services, leading Client Partners and team
            of inside sales
            leading global client portfolios with full P&L responsibility. Achieved 22% YoY revenue growth by deploying
            global
            customer-centric digital solutions and productivity improvements.[ Tech stack – Oracle, Netsuite,
            Salesforce, Boomi,
            ServiceNow, Workday, SAP],
            <br>
            Previously at <b>UST Global</b>, Mahesh played multiple leadership roles including leading the global cruise
            business, retail
            portfolio of strategic clients, Large deals . He was leading strategic initiatives like GCC & nearshore
            centers in US
            and Mexico. As a Senior Client partner & platform solution leader for retail vertical, launched a joint
            client digital
            solutions such as ‘‘Digital Transformation[E-commerce] for leading retailer in east coast’, ‘Frictionless
            commerce[
            E-commerce & IOT]’, and Personalization [AI/ML soln.]’ & ‘Supply chain solutions’ with Cross functional
            teams and
            partners which lead product growth in existing clients and external media coverage for UST.
            <br>
            Prior to joining UST Global, Mahesh was a Senior Vice President and head of client services at <b>Xpanxion(a
              UST company)</b>.
            He was responsible for setting up the vision, creating & implementing a client services strategy with 21%
            YoY revenue
            growth & Customer Success leading 600+ global team members.
            <br>
            In the past, Mahesh worked as <b>Senior Manager</b>, Client Services of the Financial Services unit
            at <b>Infosys</b> where
            he was
            responsible for FS portfolio of clients with Sales & Global Delivery of 800+ members delivered $150m
            Transformation
            initiatives for clients and Prior to joining Infosys Mahesh was <b>Head of Delivery</b> and was responsible
            for
            revenue growth,
            and customer success leading 600+ global delivery team members at <b>Syntel Inc.(ATOS Syntel)</b>
            <br>
            Mahesh is a Computer Science graduate and completed his Masters in Computer Management from University of
            Pune, India.
            Mahesh was Board member at Fintech society of Technology Association of Georgia and ALOE [STEM education].
            As a
            volunteer with Global thrombosis Forum, he is actively involved in creating awareness of Thrombosis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ---------------------------------------- techrel about  ------------------------------------------>
<div id="techrel-about" class="bg-light rounded w-75 p-2 m-auto">
  <div class="about-container">
    <div class="left-about">
      <div class="left-about-content">
        <div class="">
          <div class="">
            <div class="col-md-12 text-center">
              <h3><span class="animate-charcter">TechRel Technologies</span> </h3>
            </div>
          </div>
        </div>
        <p>
          TechRel Technologies was founded <b>in 2006</b> with a mission to provide access to world-class learning to
          students and IT professionals. It is now one of the largest training and placement companies in Maharashtra,
          India, with over <b>50,000 students and IT professionals trained since 2006</b> TechRel partners with over 50
          leading universities and IT partners to offer a broad catalog of content and credentials, including courses,
          professional certificates, and placement assistance. Students and enterprises within India use TechRel to
          upskill and re-skill their students and employees in fields such as data Science technology and business.
        </p>
      </div>
    </div>
    <div class="right-about">
      <div class="right-about-content">
        <img src="../../assets/img/techrel-img.png" alt="about">
      </div>
    </div>
  </div>
</div>