<!-- <section id="our-recruitment-partner">
    <div class="our-recruitment-partner-box">
        <div class="our-recruitment-partner-main-box">
            <h2 class="our-recruitment-partner-title">
                Our Recruitment Partner
            </h2>
            <div class="line"></div>
        </div>
        <div class="app">
            <div class="tag-list">
                <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
                    <div class="inner">
                        <div class="tag" *ngFor="let item of count">
                            <img src="{{item}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="successfull-alumni">
    <div class="successfull-alumni-main-box">
        <div class="successfull-alumni-box">
            <h2 class="successfull-alumni-title">
                Our Successful Stories
            </h2>
            <div class="line"></div>
        </div>
        <div class="tag-list">
            <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
                <div class="inner">
                    <div class="tag tag2" *ngFor="let item of poster">
                        <img loading="lazy" src="{{item}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>