<!-- <section id="services" class="services section light-background">

  <div class="container section-title" data-aos="fade-up">
    <h2>Job-Oriented Courses</h2>
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100" style="margin-top: -90px;">

    <div class="row g-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <img src="../../assets/homeImg/Java.jpg" alt="">
          </div>
          <div>
            <h3>Java Full Stack</h3>
            <a routerLink="courses/java" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
     

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <img src="../../assets/homeImg/react.png" alt="">
          </div>
          <div>
            <h3>MERN Stack</h3>
            <a routerLink="courses/mern" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
          
            <img src="../../assets/homeImg/dot net.jpg" alt="">
          </div>
          <div>
            <h3>Dot Net Full Stack</h3>
            <a routerLink="courses/dotnet" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <img src="../../assets/homeImg/testing.jpg" alt="">
          </div>
          <div>
            <h3>Software Testing</h3>
            <a routerLink="courses/testing" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <img src="../../assets/homeImg/angular.png" alt="">
          </div>
          <div>
            <h3>MEAN Stack</h3>
            <a routerLink="courses/mean" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <img src="../assets/img/devops_aws_logo-removebg-preview.png" alt="">
          </div>
          <div>
            <h3>DevOps / AWS</h3>
            <a routerLink="courses/devops" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section> -->


<body>
  <div class="container section-title" data-aos="fade-up">
    <h2>Job-Oriented Courses</h2>
  </div>
  <main class="main">

    <section class="card-area">

      <!-- Card: Ski -->
      <section class="card-section">
        <div class="card">
          <div class="flip-card">
            <div class="flip-card__container">
              <div class="card-front">
                <div class="card-front__tp card-front__tp--ski">
                  <img class="java-img" src="../../assets/homeImg/Java-Logo.png" alt=""> 
                </div>

                <div class="card-front__bt">
                  <p class="card-front__text-view card-front__text-view--ski">
                    Enroll Now
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="inside-page">
            <div class="inside-page__container">
              <h3 class="inside-page__heading inside-page__heading--ski">
                Java Full Stack Development
              </h3>
              <p class="inside-page__text">
                <b>Duration : 4 Months <br>
                  Live Project : 2 Month</b>
              </p>
              <a routerLink="courses/java" class="inside-page__btn inside-page__btn--ski">View More</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Card: Beach -->
      <section class="card-section">
        <div class="card">
          <div class="flip-card">
            <div class="flip-card__container">
              <div class="card-front">
                <div class="card-front__tp card-front__tp--beach">
                  <img class="react-logo" src="../../assets/homeImg/MERN stack.png" alt="">

                  <h2 class="card-front__heading">

                  </h2>
                  <p class="card-front__text-price">

                  </p>
                </div>

                <div class="card-front__bt">
                  <p class="card-front__text-view card-front__text-view--beach">
                    Enroll Now
                  </p>
                </div>
              </div>

            </div>
          </div>

          <div class="inside-page">
            <div class="inside-page__container">
              <h3 class="inside-page__heading inside-page__heading--beach">
                MERN Stack Development
              </h3>
              <p class="inside-page__text">
                <b>Duration : 4 Months</b> <br>
                <b>Live Project : 2 Month
                </b>
              </p>
              <a routerLink="courses/mern" class="inside-page__btn inside-page__btn--beach">View More</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Card: Camping -->
      <section class="card-section">
        <div class="card">
          <div class="flip-card">
            <div class="flip-card__container">
              <div class="card-front">
                <div class="card-front__tp card-front__tp--camping">
                  <img class="react-logo" src="../../assets/homeImg/MEAN.png" alt="">

                  <h2 class="card-front__heading">

                  </h2>
                  <p class="card-front__text-price">
                  </p>
                </div>

                <div class="card-front__bt">
                  <p class="card-front__text-view card-front__text-view--camping">
                    Enroll Now
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="inside-page">
            <div class="inside-page__container">
              <h3 class="inside-page__heading inside-page__heading--camping">
                MEAN Stack Development
              </h3>
              <p class="inside-page__text">
                <b>Duration : 4 Months</b> <br>
                <b>Live Project : 2 Month
                </b>
              </p>
              <a routerLink="courses/mean" class="inside-page__btn inside-page__btn--camping">View deals</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Card: City -->
      <section class="card-section">
        <div class="card">
          <div class="flip-card">
            <div class="flip-card__container">
              <div class="card-front">
                <div class="card-front__tp card-front__tp--city">
                  <img class="dotnet-logo" src="../../assets/homeImg/dot net.jpg" alt="">


                  <h2 class="card-front__heading">
                  </h2>
                  <p class="card-front__text-price">
                  </p>
                </div>

                <div class="card-front__bt">
                  <p class="card-front__text-view card-front__text-view--city">
                    Enroll Now
                  </p>
                </div>
              </div>

            </div>
          </div>

          <div class="inside-page">

            <div class="inside-page__container">
              <h3 class="inside-page__heading inside-page__heading--city">
                Full Stack Dot Net Development
              </h3>
              <p class="inside-page__text">
                <b>Duration : 4 Months</b> <br>
                <b>Live Project : 2 Month
                </b>
              </p>
              <a routerLink="courses/dotnet"  class="inside-page__btn inside-page__btn--city">View deals</a>
            </div>
          </div>
        </div>
      </section>
    </section>
    <!--  -->
  </main>
</body>