<!-- Services Section -->
<section id="services" class="services section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Top Courses</h2>
    <!-- <p>Transforming Ideas into Reliable, Scalable, and Tailored Software Solutions</p> -->
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100" style="margin-top: -90px;">

    <div class="row g-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <!-- <i class="bi bi-activity"></i> -->
            <img src="../../assets/homeImg/Java.jpg" alt="">
          </div>
          <div>
            <h3>Java Full Stack</h3>
            <!-- <p><strong>Duration :</strong> 4 Month <b
            <p><strong>live Project Work :</strong>2 Month</p> -->


            <a href="" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Service Card -->

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <!-- <i class="bi bi-diagram-3"></i> -->
            <img src="../../assets/homeImg/react.png" alt="">
          </div>
          <div>
            <h3>MERN Stack</h3>
            <!-- <p><strong>Duration :</strong> 4 Month</p>
            <p><strong>live Project Work :</strong>2 Month</p> -->
            <a href="" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Service Card -->

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <!-- <i class="bi bi-easel"></i> -->
            <img src="../../assets/homeImg/dot net.jpg" alt="">
          </div>
          <div>
            <h3>Dot Net Full Stack</h3>
            <!-- <p><strong>Duration :</strong> 4 Month</p>
            <p><strong>live Project Work :</strong>2 Month</p> -->
            <a href="" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Service Card -->

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <!-- <i class="bi bi-clipboard-data"></i> -->
            <img src="../../assets/homeImg/testing.jpg" alt="">
          </div>
          <div>
            <h3>Software Testing</h3>
            <!-- <p><strong>Duration :</strong> 4 Month</p>
            <p><strong>live Project Work :</strong>2 Month</p> -->
            <a href="" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Service Card -->
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <!-- <i class="bi bi-clipboard-data"></i> -->
            <img src="../../assets/homeImg/angular.png" alt="">
          </div>
          <div>
            <h3>MEAN Stack</h3>
            <!-- <p><strong>Duration :</strong> 4 Month</p>
            <p><strong>live Project Work :</strong>2 Month</p> -->
            <a href="" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Service Card -->
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="service-card d-flex">
          <div class="icon flex-shrink-0">
            <!-- <i class="bi bi-clipboard-data"></i> -->
            <img src="../../assets/homeImg/agile.png" alt="">
          </div>
          <div>
            <h3>DevOps / AWS</h3>
            <!-- <p><strong>Duration :</strong> 4 Month</p>
            <p><strong>live Project Work :</strong>2 Month</p> -->
            <a href="" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Service Card -->
    </div>

  </div>

</section><!-- /Services Section -->