<section id="community">
    <div class="container">
        <h2>Meet Our Successful Students</h2>
        <div class="team-grid">
            <div class="card">
                <img src="../../assets/review/mahesh.jpg">
                <div class="name">Mahesh Tapse</div>
                <small class="desig">Dot Net Developer | SoftCat India</small>
                <strong>Package : <span>12.50 LPA</span></strong>
                <p>"TechRel Institute provided me with the perfect platform to enhance my skills. The hands-on training
                    and
                    experienced faculty helped me land my dream job at SoftCat. Highly recommended for aspiring tech
                    professionals!"
                </p>
            </div>
            <div class="card">
                <img src="../../assets/review/img_1.jpg">
                <div class="name">Sujeet Lomate</div>
                <small class="desig">Dot Net Developer | Sonata Software Pvt.Ltd </small>
                <strong>Package :<span> 12.00 LPA </span> </strong>
                <p>"The structured curriculum and real-time projects at TechRel helped me gain confidence in MERN Stack
                    Developer. The placement support team was outstanding, guiding me through every step until I secured
                    my
                    position at The Research Analyst!"</p>
            </div>
            <div class="card">
                <img src="../../assets/review/Akshay.jpg">
                <div class="name">Akshay Mutkale</div>
                <small class="desig">Full Stack Dot Net Developer | Quees Corp</small>
                <strong>Package : <span>10.00 LPA</span> </strong>

                <p>"TechRel’s in-depth training in frontend & backend technologies made me industry-ready. The mock
                    interviews and career guidance were invaluable in my placement at Quees Corp. A big thanks to the
                    entire
                    team!"</p>
            </div>

        </div>
        <button routerLink="/placed-students" class="btn">View More</button>
    </div>
</section>