<div class="col-xl-5 bg-light rounded p-5 h-100" id="about_us" data-aos="fade-right" data-aos-delay="200" style="width: 48%;">
        <span class="about-meta">About Us</span>
        <h2 class="about-title">Your Pathway to a <br> Successful IT Career !</h2>
        <p class="about-description">TechRel is a premier IT training institute dedicated to bridging the gap between
          learning and employment.
          We offer industry-focused courses, hands-on training, live projects, and internships to provide real-world
          experience.With 100% placement assistance, we connect students with top IT companies, ensuring career
          success.
          At
          TechRel, we believe in learning by doing, empowering students with the skills and confidence to thrive in
          the IT industry.
          Join us and kickstart your IT career..!</p>

        <div class="row feature-list-wrapper">
          <div class="">
            <ul class="feature-list">
              <li><i class="bi bi-check-circle-fill"></i>100% Placement Assistance for a Bright
                Career</li>
              <li><i class="bi bi-check-circle-fill"></i>Upgrade Your IT Skills with Experts</li>
              <li><i class="bi bi-check-circle-fill"></i>Hands-on Training with Live Projects</li>
              <li><i class="bi bi-check-circle-fill"></i>Hands-on Training with Live Projects</li>

            </ul>
          </div>
          <!-- <div class="col-md-6">
            <ul class="feature-list">
              <li><i class="bi bi-check-circle-fill"></i>Secure and high-performing</li>
              <li><i class="bi bi-check-circle-fill"></i>Trust and Quality</li>
              <li><i class="bi bi-check-circle-fill"></i>Mutual growth</li>
            </ul>
          </div> -->
        </div>

        <div class="info-wrapper">
          <div class="row gy-4">
            <div class="col-lg-5">

            </div>

          </div>
        </div>
      </div>